{% extends "base.html" %}
{% block title %}Документ в РЕГИЗ{% endblock %}
{% block content %}
    <style>
        #pdf-viewer {
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.1);
            overflow: auto;
        }

        .pdf-page-canvas {
            display: block;
            margin: 5px auto;
            border: 1px solid rgba(0, 0, 0, 0.2);
        }
    </style>

    <div class="row" style="margin: 5px;">
        <div class="col">
            <h5>{{ name }}</h5>
            <p class="small text-muted">{{ org }}<br><b>{{ date }}</b></p>
            <form onsubmit="back()">
                <input type="hidden" name="action" value="documents">
                <input type="hidden" name="contract_id" value="{{ contract.id }}">
                <input type="hidden" name="api_token" id="token" value="">
                <button class="btn-info btn btn-sm">Назад</button>
            </form>
        </div>
    </div>

    <div id='pdf-viewer'></div>

    <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.6.347/build/pdf.min.js"></script>

    <script>
        function back() {
            var url_string = window.location.href;
            var url = new URL(url_string);
            var c = url.searchParams.get("api_token");

            $('#token').val(c);
            return true;
        }

        var thePdf = null;
        var scale = 1;
        // Loaded via <script> tag, create shortcut to access PDF.js exports.
        var pdfjsLib = window['pdfjs-dist/build/pdf'];

        // The workerSrc property shall be specified.
        pdfjsLib.GlobalWorkerOptions.workerSrc = '//cdn.jsdelivr.net/npm/pdfjs-dist@2.6.347/build/pdf.worker.js';

        pdfData = atob('{{ data }}');
        // Using DocumentInitParameters object to load binary data.
        var loadingTask = pdfjsLib.getDocument({data: pdfData});
        loadingTask.promise.then(function (pdf) {
            thePdf = pdf;
            viewer = document.getElementById('pdf-viewer');

            for (page = 1; page <= pdf.numPages; page++) {
                canvas = document.createElement("canvas");
                canvas.className = 'pdf-page-canvas';
                viewer.appendChild(canvas);
                renderPage(page, canvas);
            }
        }, function (reason) {
            // PDF loading error
            console.error(reason);
        });

        function renderPage(pageNumber, canvas) {
            thePdf.getPage(pageNumber).then(function (page) {
                var viewport = page.getViewport({scale: scale});
                var container = document.getElementById('pdf-viewer');
                var uscale = container.clientWidth / viewport.width;
                viewport = page.getViewport({scale: uscale});
                canvas.height = viewport.height;
                canvas.width = viewport.width;
                page.render({canvasContext: canvas.getContext('2d'), viewport: viewport});
            });
        }

    </script>
{% endblock %}