{% extends "base.html" %}
{% block title %}Документы в РЕГИЗ{% endblock %}
{% block content %}
    <div class="row" style="margin-left:5px; margin-right: 5px;">
        {% for document in documents %}
            <div class="col-6 col-md-4" style="padding-top: 5px; padding-bottom: 5px;">
                <form method="post">

                    <input type="hidden" name="document_id" value="{{ document['document_id'] }}">


                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">{{ document['description'] }}</p>
                            <p class="text-muted"><small>{{ document['organization'] }}<br>{{ document['indexed'] }}</small></p>
                            <button class="btn btn-primary btn-sm">Скачать</button>
                        </div>
                    </div>


                </form>
            </div>
            <br>
        {% endfor %}
    </div>
{% endblock %}