{% extends "base.html" %}
{% block title %}Документ в РЕГИЗ{% endblock %}
{% block content %}
    <div class="row" style="margin: 5px;">
        <div class="col">
            <h5>{{ name }}</h5>
            <p class="small text-muted">{{ org }}<br><b>{{ date }}</b></p>
            <form onsubmit="back()">
                <input type="hidden" name="action" value="documents">
                <input type="hidden" name="contract_id" value="{{ contract.id }}">
                <input type="hidden" name="api_token" id="token" value="">
                <button class="btn-info btn btn-sm">Назад</button>
            </form>
        </div>
    </div>

    <canvas id="canvas"></canvas>

    <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.6.347/build/pdf.min.js"></script>

    <script>
        function back() {
            var url_string = window.location.href;
            var url = new URL(url_string);
            var c = url.searchParams.get("api_token");

            $('#token').val(c);
            return true;
        }


        // Loaded via <script> tag, create shortcut to access PDF.js exports.
        var pdfjsLib = window['pdfjs-dist/build/pdf'];

        // The workerSrc property shall be specified.
        pdfjsLib.GlobalWorkerOptions.workerSrc = '//cdn.jsdelivr.net/npm/pdfjs-dist@2.6.347/build/pdf.worker.js';


        function renderPdfByBase64(base64Data) {
            var currPage = 1; // 当前页面
            var numPages = 0; // 总页数，由getDocument后获取
            var thePDF = null;
            var pdfData = base64ToUint8Array(base64Data);
            pdfjsLib.getDocument(pdfData).then(function (pdf) {
                thePDF = pdf;
                numPages = pdf.numPages;
                pdf.getPage(1).then(handlePages);
            });

            function base64ToUint8Array(base64) {
                var raw = atob(base64);
                var uint8Array = new Uint8Array(raw.length);
                for (var i = 0; i < raw.length; i++) {
                    uint8Array[i] = raw.charCodeAt(i);
                }
                return uint8Array;
            }

            function handlePages(page) {
                console.log(page)
                var viewport = page.getViewport(1);
                var canvas = document.getElementById('canvas');
                canvas.style.display = "block";
                var context = canvas.getContext('2d');
                canvas.height = viewport.height;
                canvas.width = viewport.width;

                page.render({
                    canvasContext: context,
                    viewport: viewport
                });

                currPage++;
                if (thePDF !== null && currPage <= numPages) {
                    thePDF.getPage(currPage).then(handlePages);
                }
            }
        }

        renderPdfByBase64('{{ data }}'}

    </script>
{% endblock %}